.bg {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: linear-gradient(#f2c94c, #f2994a);
    display: flex;
}

.innerBox {
    margin: 0 5% 0 6rem;
    height: 100vh;
    width: 40%;
}

.title {
    padding-top: 3%;
    padding-left: 6%;
    p {
        margin: 0;
        padding: 0;
        font-size: 6em;
        color: #ffffff;
        text-shadow: 0 3px 6px #0000003d;
    }
}

.todoList {
    margin-top: 2.5rem;
    height: 70%;
}

.paper {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.addNewTodo {
    border-radius: 1rem 1rem 0 0;
    background-color: #ffdb93;
    width: 100%;
    height: 22.8%;
    box-shadow: 0 3px 3px #0000003d;
    display: flex;
    input {
        margin-left: 48px;
        border: none;
        background-color: #ffdb93;
        width: 78%;
        height: 97%;
        font-size: 2.5em;
    }
    .plus {
        cursor: pointer;
        width: 2.5rem;
        margin-right: 48px;
        height: 100%;
        padding-left: 2%;
        .plusIn {
            padding-top: calc(100vh / 18);
        }
    }
}

.list {
    width: 100%;
    height: 77.2%;
    background-color: #ffffff;
    border-radius: 0 0 1rem 1rem;
    ul {
        margin: 0;
        padding: 6% 13% 0 13%;
    }
    li {
        padding-bottom: 2.25rem;
        font-size: 2rem;
    }
}

.clock {
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 6rem;
    width: 40%;
    background: blue;
}
