.bg {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: linear-gradient(#f2c94c, #f2994a);
    display: flex;
}

.innerBox {
    margin: 0 5% 0 6rem;
    height: 100vh;
    width: 40%;
}

.title {
    padding-top: 3%;
    padding-left: 6%;
    p {
        margin: 0;
        padding: 0;
        font-size: 6em;
        color: #ffffff;
        text-shadow: 0 3px 6px #0000003d;
    }
}

// TodoList
.todoList {
    margin-top: 2.5rem;
    height: 70%;
    overflow-y: hidden;
}

.paper {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.addNewTodo {
    border-radius: 1rem 1rem 0 0;
    background-color: #ffdb93;
    width: 100%;
    height: 22.8%;
    box-shadow: 0 3px 3px #0000003d;
    display: flex;
    #add {
        margin-left: 48px;
        background-color: #ffdb93;
        width: 78%;
        height: 97%;
        font-size: 2.5em;
        border: none;
    }

    input[type="text"]:focus {
        outline: none;
    }

    .plus {
        cursor: pointer;
        width: 2.5rem;
        margin-right: 48px;
        height: 100%;
        padding-left: 2%;
        .plusIn {
            padding-top: calc(100vh / 18);
        }
    }
}

.list {
    width: 100%;
    height: 77.2%;
    background-color: #ffffff;
    border-radius: 0 0 1rem 1rem;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }

    ul {
        margin: 0;
        padding: 6% 13% 0 13%;
    }

    .listBox {
        width: 100%;
        display: flex;
        margin-bottom: 7%;
        label {
            width: 80%;
            cursor: pointer;
            word-break: break-all;
            li {
                font-size: 2rem;
                .check {
                    display: none;
                }
            }
        }

        li {
            width: 100%;
            font-size: 2rem;
            .editInput {
                input[type="text"] {
                    width: 80%;
                    padding: 0 0 0 2%;
                    border: 2px dashed #ffdb93;
                    border-radius: 6px;
                    line-height: 3rem;
                    font-size: 2rem;
                    &:focus {
                        outline-color: #ffc758;
                    }
                }
                width: 100%;
                display: flex;
                .save {
                    width: 5%;
                    padding-left: 4%;
                    padding-top: 1%;
                    cursor: pointer;
                }
            }
        }

        .liIconBox {
            width: 20%;
            display: flex;
            .edit {
                padding-left: 10%;
                padding-top: 4%;
                width: 30%;
                cursor: pointer;
            }
            .delete {
                padding-left: 10%;
                padding-top: 4%;
                width: 28%;
                cursor: pointer;
            }
        }
    }
}

.alertBtnYes {
    background: #ef8e38;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 1rem 1rem 1rem 1.2rem;
    margin-right: 1rem;
    &:focus {
        background: #ee7812;
        outline: none;
    }
}

.alertBtnNo {
    background: #252525;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 1rem 1rem 1rem 1.2rem;
    &:focus {
        background: #464646;
        outline: none;
    }
}

.alertBtnOk {
    background: #a5f894;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 1rem 1rem 1rem 1.2rem;
    &:focus {
        background: #17da88;
        outline: none;
    }
}

// clock
.clock {
    margin-top: 4%;
    margin-left: 5%;
    width: 40%;
    position: relative;
    z-index: 1;
}

.circle {
    position: absolute;
    top: 2%;
    width: 100%;
    z-index: -1;
}

.timeBox {
    font-size: 850%;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0 3px 3px #888888;
    text-align: center;
    line-height: 2em;
    padding-top: 5%;
}

.iconBox {
    width: 70%;
    // height: 25.5%;
    display: flex;
    padding-left: 17%;
    padding-top: 1.5%;
    .stop {
        width: 12%;
        margin-right: 12%;
        padding-top: 7%;
        &:hover {
            cursor: pointer;
        }
    }

    .play {
        width: 25%;
        margin-right: 12%;
        margin-left: 12%;
        &:hover {
            cursor: pointer;
        }
    }

    .change {
        width: 12%;
        margin-left: 12%;
        padding-top: 7%;
        &:hover {
            cursor: pointer;
        }
    }
}

.musicBox {
    padding-left: 44%;
    padding-top: 10%;
    .music {
        width: 17%;
        &:hover {
            cursor: pointer;
        }
    }
}
